@import "../../layouts/variables.css";


.triangle_box_sponsor {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  margin-bottom: 150px;
  text-align: left;
}

.triangle_box_sponsor svg:last-of-type {
  position:absolute;
  bottom: -14px;
  right: -14px;
}

.sponsor_image {
  height: 220px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: break-boxes) {
  .sponsor_image{
    flex: 0 0 300px;
  }
}

@media (max-width: break-main-padding) {
    .triangle_box_sponsor {
        width: 100%;
    }
  .sponsor_image{
    flex: 1 0 100%;
    height: 0;
    padding-top: 66%;
  }
}

.sponsor_preview_content {
  position: relative;
  width: 100%;
  padding: 20px 30px;
}

.sponsor_preview_content h1 {
    margin-bottom: 0.5em;
}

@media (max-width: break-main-padding) {
  .sponsor_preview_content{
    padding: 20px 0;
  }
}

.triangle_box_sponsor p {
  padding: 5px 0 20px 0;
}

.triangle_box_sponsor a {
  display: block;
  color: deep-blue;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.triangle_box_sponsor a span {
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid deep-see-green;
}

.triangle_box_sponsor a h1  {
  font-size: 28px;
  line-height: 1.14;
  padding-top: 20px;
  letter-spacing: normal;
  text-transform: none;
}

.triangle_box_sponsor p {
    font-size: 18px;
}
