@import "../../layouts/variables.css";


.triangle_box_article {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 150px;
  text-align: left;
}
.triangle_box_article:last-child{
  margin-bottom: 0;
}

.triangle_box_article svg:last-of-type {
  position:absolute;
  bottom: -14px;
  right: -14px;
}

.article_image {
  height: 450px;
  flex: 0 0 450px;
  background-position: center;
  background-size: cover;
}

@media (max-width: break-boxes) {
  .article_image{
    flex: 0 0 300px;
  }
}
@media (max-width: break-main-padding) {
  .article_image{
    flex: 1 0 100%;
    height: 0;
    padding-top: 66%;
  }
}

.article_preview_content {
  position: relative;
  flex: 1;
  padding: 20px 60px;
}


@media (max-width: break-main-padding) {
  .article_preview_content{
    padding: 20px 0;
  }
}

.triangle_box_article h2 {
  font-size: 12px;
  line-height: 1.81;
  color: aqua;
  font-weight: 700;
  padding: 10px 0;
}

.triangle_box_article p {
  padding: 5px 0 20px 0;
}

.triangle_box_article a {
  color: deep-blue;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.triangle_box_article a span {
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid deep-see-green;
}

.triangle_box_article a h1  {
  font-size: 28px;
  line-height: 1.14;
  padding-top: 20px;
  letter-spacing: normal;
  text-transform: none;
}

/* Blogpreview */

.triangle_box_article_blogpreview {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  padding-bottom: 100px;
  text-align: left;
  margin-left: 0;
  margin-right: 5%;
}
.triangle_box_article_blogpreview:nth-child(2n) {
  margin-left: 5%;
  margin-right: 0;
}
@media (max-width: break-main-padding) {
  .triangle_box_article_blogpreview {
    width: 100%;
  }
  .triangle_box_article_blogpreview:nth-child(1n){
    margin-left: 0;
    margin-right: 0;
  }
}
.triangle_box_article_blogpreview:last-child{
  margin-bottom: 0;
}

.triangle_box_article_blogpreview svg:last-of-type {
  position:absolute;
  bottom: -14px;
  right: -14px;
}

.triangle_box_article_blogpreview h2 {
  font-size: 12px;
  line-height: 1.81;
  color: aqua;
  font-weight: 700;
  padding: 10px 0;
}

.triangle_box_article_blogpreview p {
  padding: 5px 0 20px 0;
}

.triangle_box_article_blogpreview a {
  color: deep-blue;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.triangle_box_article_blogpreview a span {
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid deep-see-green;
}

.triangle_box_article_blogpreview a h1  {
  font-size: 28px;
  line-height: 1.14;
  padding-top: 20px;
  letter-spacing: normal;
  text-transform: none;
}

.article_image_blogpreview {
  height: 330px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.article_preview_content_blogpreview {
  position: relative;
}
