@import "../../layouts/variables.css";


.triangle_box_article {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 150px;
    text-align: left;
}

.triangle_box_article svg:last-of-type {
  position:absolute;
  bottom: -14px;
  right: -14px;
}

.article_image {
  height: 450px;
  flex: 0 0 450px;
  background-position: center;
  background-size: cover;
}

.article_preview_content {
  position: relative;
  flex: 1;
  padding: 20px 60px;
}

.triangle_box_article h2 {
  font-size: 12px;
  line-height: 1.81;
  color: aqua;
  font-weight: 700;
  padding: 10px 0;
}

.triangle_box_article p {
  padding: 5px 0 20px 0;
}

.triangle_box_article a {
  color: deep-blue;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.triangle_box_article a span {
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid deep-see-green;
}

.triangle_box_article h1 {
  font-size: 28px;
  line-height: 1.14;
  padding-top: 20px;
}
