@import "../../layouts/variables.css";

.dropdownWrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px 40px 10px 0;
}
@media (max-width: break-mobile){
  .dropdownWrapper {
    width: 100%;
    margin: 20px 0;
  }
}

.dropdownWrapper:after {
  content: "";
  border-color: transparent deep-blue;
  border-style: solid;
  border-width: 0.45em 0 0.45em 0.45em;
  display: block;
  height: 0;
  width: 0;
  top: 16px;
  right: 20px;
  position: absolute;
  transform: rotate(90deg);
  pointer-events: none;
}

.dropdownButton {
  background-color: paper;
  border: solid deep-blue 2px;
  padding: 10px;
  min-width: 330px;
  color: deep-blue;
  font-size: 20px;
  cursor: pointer;
  appearance: none;
}
@media (max-width: break-tiny) {
  .dropdownButton {
    min-width: unset;
  }
}

.dropdownButton::after {

}

.dropdownList {
  composes: dropdownButton;
}

.dropdownList li {
  padding: 8px 0;
}

.dropdownList li:hover {
  background-color: #eee;
}

.dropdownList li:before {
  content: none;
}

.dropdownList li:first-child {
  font-weight: bold;
}
