@import "../../../layouts/variables.css";


.facebook, .twitter, .youtube {
  height: iconSize;
  width: iconSize;
}

.facebook path, .twitter path, .youtube path {
  fill: paper;
}
.facebook:hover path {
  fill: #214CDB;
}

.facebook rect {
  fill: none;
  rx: 5px;
  ry: 5px;
}

.facebook:hover rect {
  fill: paper;
}

.twitter:hover path {
  fill: unset;
}

.youtube polygon {
  fill: #00027F;
}

.youtube:hover path {
  fill: #FF0000;
}

.youtube:hover polygon {
  fill: #FDFCF4;
}
