@import "../layouts/variables.css";

.article{
  max-width: 760px;
}

.article p strong {
  display: inline-block;
  padding-top: 20px;
}

.article div>p:last-child em {
  display: inline-block;
  padding-top: 80px;
}

.article h1 {
  font-size: 32px;
  line-height: 1.14;
  text-align: left;
}

.article h2 {
  font-size: 24px;
  padding: 40px 0 20px 0;
}

.article h3 {
  font-size: 12px;
  line-height: 1.81;
  color: aqua;
  text-align: left;
  letter-spacing: normal;
  font-weight: 700;
  padding: 10px 0 40px 0;
}

.article p {
  padding: 10px 0;
}

.article ul {
    padding: 0 1em;
    padding-bottom: 20px;
}
.article li:last-child{
  padding-bottom: 10px;
}

.article img {
  width: 100%;
}

.article blockquote {
  padding: 20px 10px 20px 40px;
  font-style: italic;
}
@media (max-width: break-tiny){
  .article blockquote {
    padding: 10px;
  }
}

:global blockquote.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: break-tiny){
  :global blockquote.flex {
    flex-wrap: wrap;
  }
}

:global blockquote.flex  img {
  align-self: center;
  width: 28%;
  max-width: 150px;
  margin: 0 10px;
}
@media (max-width: break-tiny){
  :global blockquote.flex  img {
    width: 100%;
    margin: 10px auto;
  }
}
