@import "../layouts/variables.css";


.main {
  margin-bottom:60px;
  padding-top: 300px;
}

.main h1 {
  font-size: 28px;
  line-height: 1.14;
  color: deep-blue;
}
@media (max-width: break-mobile){
  .main h1 {
    display:block;
  }
}


.main section p , .main ol, .main li {
  font-size: 17px;
  line-height: 1.5;
}


.main section p, p>ol {
    margin: 30px auto 20px auto;
}

.main section ol {
  list-style-type: lower-roman;
}

.main section div>ol{
  list-style-type: decimal;
}

.main section li {
  margin: 15px 0 5px 0;
}


@media (max-width: break-mobile){
  .main ol {
    padding-left: 20px;
  }
}
