@import "../layouts/variables.css";

.main section:nth-of-type(2) h1 {
  padding-top: 60px;
}

.main section p {
  padding-bottom: 20px;
}

.search{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  max-width: 850px;
  margin: 20px 0;
}
.search_disabled{
  composes: search;
}

.search span, .search_disabled span {
  font-size: 28px;
  padding: 20px 20px 20px 0;
}
.search_disabled span {
  color: grey;
}

.search input, .search_disabled input  {
  flex-grow: 1;
  flex-shrink:0;
  flex-basis: 300px;
  border-style: solid;
  border-color: deep-blue;
  background-color: paper;
  outline: none;
  height: 40px;
  color: deep-blue;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}
.search_disabled input {
  border-color: grey;
}

.search input::placeholder{
  font-size: 18px;
  color: grey;
  opacity: 1;
}

.search svg, .search_disabled svg {
  position: relative;
  right: 35px;
  fill: deep-blue;
}
.search_disabled svg {
  fill: grey;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px;
}

.turquoise_section {
  position: relative;
  margin-bottom: 120px;
}

.turquoise_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.turquoise_content div{
  width: 100%;
}
