@import "../layouts/variables.css";

.main section:nth-of-type(2) h1 {
  padding-top: 60px;
}

.main section p {
  padding-bottom: 20px;
}

.search{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  max-width:700px;
  margin: 20px 0;
}

.searchfieldWrapper {
  flex-grow: 1;
  position: relative;
}


.search>div:first-child {
  margin-right: 20px;
  font-size: 28px;
}
@media (max-width: break-mobile) {
  .search div:first-child {
    margin: 0 0 30px 0;
    width: 100%
  }
}


.search input {
  border-style: solid;
  border-color: deep-blue;
  background-color: paper;
  outline: none;
  width: 100%;
  height: 47px;
  color: deep-blue;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.search input::placeholder{
  font-size: 18px;
  color: grey;
  opacity: 1;
}

.search svg{
  position: absolute;
  top: 12px;
  right: 20px;
  fill: deep-blue;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px;
}

.turquoise_section {
  position: relative;
  margin-bottom: 120px;
}

.turquoise_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.turquoise_content ul ~ p {
  padding-top: 40px;
}

.turquoise_content div{
  width: 100%;
}
