.main section:nth-of-type(2) h1 {
  padding-top: 60px;
}

.main section p {
  padding-bottom: 20px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px;
}

.turquoise_section {
  position: relative;
}

.turquoise_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
