.columns{
  column-count: 2;
  column-width: 350px;
  column-gap: 46px;
}

.columns p {
  padding-bottom: 40px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
}
