@import "../../layouts/variables.css";

.box {
  display: flex;
  height: 420px;
  text-align: center;
}
@media (max-width:break-boxes ){
  .box {
    height: auto;
    margin-bottom: 40px;
  }
}

.box p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 2px;
  font-weight: 700;
}
@media (max-width: break-boxes){
  .box p {
    font-size: 16px;
    line-height: 1.88;
  }
}

.flex_wrapper{
  display:flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.flex_top p{
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: normal;
  color: white;
  font-style: italic;
}
@media (max-width: break-boxes){
  .flex_top p {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 20px;
  }
}

.flex_bottom p:nth-child(2) {
  font-weight: 500;
}

.flex_bottom a {
  color: deep-blue;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 2px;
  font-weight: 700;
}

.clip_profile{
  display: inline-block;
  height: 120px;
  width: 124px;
  background-size: cover;
  clip-path: url(#clip_profile);
}

/* Internet Explorer 10+, Microsoft Edge Browser HACK */
_:-ms-lang(x), .clip_profile { border-radius: 50%; } 
