@import "../../layouts/variables.css";

.background_header{
  position: fixed;
  top:0;
  width:100%;
  height: 96px;
  z-index:9
}

.background_footer{
  position: absolute;
  width: 99.5vw;
  height: 100%;
  z-index:-1;
}

.triangle {
  position:absolute;
  top: -15px;
  left:-15px;
  mix-blend-mode: multiply;
}


/* Internet Explorer 10+, Microsoft Edge Browser HACK */

_:-ms-lang(x), .triangle { opacity: 0.6; } 

.background_turquoise {
  position: absolute;
  z-index:-1;
  width:99.5vw;
  left: 50%;
  margin-left:-50vw;
  height: 100%;
}

.positionen_icon{
  display:block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -30px;
}

.facebook {
  height: iconSize;
  width: iconSize;
}

.facebook path {
  fill: paper;
}
.facebook:hover path {
  fill: unset;
}

.facebook rect {
  fill: none;
  rx: 5px;
  ry: 5px;
}

.facebook:hover rect {
  fill: paper;
}
