@import "../../layouts/variables.css";

.sticky_cta{
  position: fixed;
  top: 140px;
  right:-1px;
  z-index:10;
  width:260px;
  height: 120px;
  max-width: 40%;
}

.sticky_cta_polygon {
  fill: active;
  transition: all 0.3s;
}

.sticky_cta_polygon:hover {
  fill: dark-active;
    transition: all 0.3s;
}

.button {
  display: block;
  min-width: 248px;
  width: max-content;
  max-width: 80%;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px ;
  margin: 40px auto;
  transition: all 0.1s;
  cursor: pointer;
}

.button_pink {
  composes: button;
  background-color: paper;
  border-color: active;
}

.button_pink:hover {
  transition: all 0.1s;
  background-color: active;
  border-color: paper;
  color: white;
}

.button_blue {
  composes: button;
  background-color: paper;
  border-color: deep-blue ;
  color: deep-blue;
}

.button_blue:hover {
  transition: all 0.1s;
  background-color: deep-blue;
  border-color: paper;
  color: white;
}

.button_white {
  composes: button;
  background-color: initial;
  border-color: white;
  color: white;
}
.button_white:hover {
  transition: all 0.1s;
  background-color: white;
  border-color: null;
  color: aqua;
}
