@import "../layouts/variables.css";

.header {
  position: relative;
  top: -360px;
  margin: 0 210px;
}

.header h1 {
  max-width: 420px;
  font-size: 72px;
  line-height: 1.06;
  color: white;
}

.header p {
  margin-top: 100px;
  max-width: 310px;
  font-size: 16px;
  line-height: 1.25;
}

.main {
  margin-top: -240px;
}

.main section:nth-of-type(2) h1 {
  padding-top: 60px;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
}

.column3 {
  display: inline-block;
  column-count: 3;
  column-gap: 40px;
  text-align: center;
}
