@import "../layouts/variables.css";

.header {
  position: relative;
  top: -360px;
  margin: 0 210px;
}
@media (max-width: break-mobile) {
  .header{
    top: -300px; 
  }
}
@media (max-width: break-main-padding) {
  .header{
    margin: 0 mobile-padding;  
  }
}

.header h1 {
  max-width: 420px;
  font-size: 72px;
  line-height: 1.06;
  color: white;
}
@media (max-width: break-mobile) {
  .header h1 {
    font-size: 48px; 
  }
}

.header p {
  margin-top: 160px;
  max-width: 310px;
  font-size: 16px;
  line-height: 1.25;
}
@media (max-width: break-mobile) {
  .header p {
    margin-top: 200px;
    font-size: 22px; 
    line-height: 1.14;
  }
}

.main {
  margin-top: -240px;
}

.main section:nth-of-type(2) h1 {
  padding-top: 60px;
}

.title_link{
  display: block;
  color: deep-blue;
  text-align: center;
}

.section_paragraph {
  padding-bottom: 30px;
}

.turquoise_wrapper {
  position:relative;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
}

.column3 {
  column-count: 3;
  column-gap: 40px;
  padding-bottom: 120px;
}
@media (max-width: break-boxes){
  .column3 {
    column-count: 1;
  }
}

.paragraph {
  padding-top: 90px;
}
