@import "../../layouts/variables.css";


.footer{
  position: relative;
  width: 99.5vw;
  height: 342px;
}

.footer div {
  padding: 40px auto;
}

.footer figure img {
  width: 160px;
  float: left;
  margin: 80px;
}


.footer ul {
  padding: 60px 5%;
  float: right;
}

.footer ul li{
  list-style: none;
  padding: 10px 0;
}

.footer ul li a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: paper;
}

.footer ul li:hover a {
  color: deep-see-green;
}

@media (max-width: break-mobile){
  .linkList {
    display:none;
  }
}
