@import "../../layouts/variables.css";


.footer{
  position: relative;
  width: 99vw;
  height: 342px;
  overflow: hidden;
}
@media (max-width: break-main-padding){
  .footer{
    height: 600px
  }
}
@media (max-width: break-footer){
  .footer {
    height: 740px;
  }
}


.footer>div {
  position: relative;
}

@media (max-width: break-main-padding){
  .footer>div {
    position: initial
  }
}


.footer figure img {
  width: 160px;
  float: left;
  margin: 91px;
}
@media (max-width: break-main-padding){
  .footer figure img {
    margin: 0 0 0 0px ;
    transform: translateY(326%);
  }
}


@media (max-width: break-footer){
  .footer figure img {
    transform: none;
    float: none;
    display: block;
    margin: 0 auto;
  }
}



.footer ul {
  padding: 60px;
  float: right;
}
.footer ul:last-child {
  padding-right: 20px;
  float: right;
}

.linkList {
  margin-top: 38px;
}

@media (max-width: break-main-padding){
  .footer ul{
    padding-top: 0;
  }
  .footer ul:first-child {
    padding-right: 0;
  }
}

@media (max-width: break-footer){
  .footer ul{
    padding: 0;
  }
  .footer ul:last-child{
    padding-right: 82px;
  }
}




.footer ul li{
  padding: 10px 0;
}

.footer ul li:before{
  content: none;
}

.footer ul li a, .footer section {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  color: paper;
}

.footer ul li:hover a {
  color: deep-see-green;
}

.footer section {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: break-main-padding){
  .footer section {
    bottom: 40px;
  }
}
@media (max-width: break-footer){
  .footer section {
    bottom: 60px;
  }
}

.footer section>div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer section p {
  margin: 0 auto;
  color: grey;
}

.footer section svg {
  margin: 20px 40px;
}
@media (max-width: break-mobile){
  .footer section svg {
    margin: 20px;
  }
}

@media (max-width: break-main-padding){
  .mobile_view {
    display: block;
    width: 80vw;
    margin: 0 auto;
    /*max-width: 700px;*/
    clear: both;
  }
  .mobile_view:first-of-type{
    margin-top: 60px;
  }
}

@media (max-width: break-footer) {
  .mobile_view {
    margin-top: 40px;
    width: 248px;
  }
  .mobile_view:first-child {
    margin-top: 100px;
  }
}
