@import "variables.css";


:global * {
  box-sizing: border-box;
  margin: 0;
}

/* base font styles */
:global body {
  margin: 0;
  font-size: 20px;
  color: deep-blue;
  font-family: 'Karla', sans-serif;
  background-color: paper;
  overflow-x: hidden;
}

/* base element styles */

:global a {
  text-decoration: none;
  color: active;
}

:global p {
  line-height: 1.5;
}

:global main {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: maxContainerWidth;
  padding: 0 100px;
}

@media (max-width: break-main-padding){
  :global main {
    padding: 0 mobile-padding;
  }
}

:global main>h1 {
  font-size: 48px;
  line-height: 1.15;
  color: aqua;
}
@media (max-width: break-mobile){
  :global main>h1 {
    display:none;
  }
}
@media (max-width: break-main-padding){
  :global main>h1 {
    font-size: 28px;
  }
}

:global section {
  padding: 60px 0;
}
@media (max-width: break-mobile){
  :global section {
    padding: 40px 0;
  }
}

:global section>h1, :global section>div>h1 , :global section>div>a>h1{
  text-align: center;
  font-size: 36px;
  padding-bottom: 70px;
}
@media (max-width: break-mobile){
  :global section>h1, :global section1>div>h1 {
    font-size: 32px;
  }
}

:global section h1 span {
  display: inline-block;
  line-height: 2;
  border-bottom: 3px solid deep-see-green;
}

:global section > div > h2, :global section > div >a> h2{
  top:30px;
  text-align: center;
  margin-top: -55px;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

:global section h3 {
  font-size: 28px;
  line-height: 1.15;
  padding-bottom: 20px;
  
}
